<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importec Solutions</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>

        <div class="logo">
            <a href="index.html">
            <img src="img/logo.png" alt="Importec Solutions Logo">
            </a>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Nombre del Producto">
            <button type="submit">Buscar</button>
        </div>

        <div class="cart">
                <a href="DetalledeCarrito.html"><button class="carrito" type="button">S/. 200,30</button></a>
                <button  type="button"><a id="iniciar" href="IniciarSesion.html">Iniciar sesión</a></button>
        </div>
    </header>
    <nav>
        <ul class="nav">
            <li class="nav1"><a href="#">Laptops</a>
                <ul class="subnav">
                    <li class="nav2"><a href="Catalogo.html">INTEL CELERON </a></li>
                    <li class="nav2"><a href="Catalogo.html">INTEL CORE I3 </a></li>
                    <li class="nav2"><a href="Catalogo.html">INTEL CORE I5 </a></li>
                    <li class="nav2"><a href="Catalogo.html">INTEL CORE I7 </a></li>
                    <li class="nav2"><a href="Catalogo.html">INTEL CORE I9 </a></li>
                </ul>
            </li>
            <li class="nav1"><a href="#">Marcas más vendidas</a>
                <ul class="subnav">
                    <li class="nav2"><a href="Catalogo.html">KINGSTON </a></li>
                    <li class="nav2"><a href="Catalogo.html">HP </a></li>
                    <li class="nav2"><a href="Catalogo.html">LENOVO </a></li>
                    <li class="nav2"><a href="Catalogo.html">ASUS </a></li>
                    <li class="nav2"><a href="Catalogo.html">GIGABYTE </a></li>
                    <li class="nav2"><a href="Catalogo.html">LOGITECH </a></li>
                    <li class="nav2"><a href="Catalogo.html">MSI </a></li>
                </ul>
            </li>
            <li><a href="Catalogo.html">Productos</a>
            
            </li>
            <li><a href="#">Promos</a>
            
            </li>
            <li><a href="Mediosdepago.html">Medios de pago</a>
            
            </li>
            <li><a href="TyC.html">Términos y condiciones</a>
            
            </li>
        </ul>
    </nav>
    <main id="paginapr" >
            <!-- Inicio del carrusel -->
                <section id="carrusel">
                    <div id="carousel-item">
                        <img src="img/asusPublicidad.jpg"  alt="...">
                      </div>
                </section>                

        <section id="products">
            <h2>PRODUCTOS NUEVOS <a href="Catalogo.html">Ver más →</a></h2>

            <div class="product-list">
                <div class="product-box" id="product1">
                    <img src="img/VGA24GB.jpg" alt="VGA ASUS GEFORCE NVIDIA ProART RTX 4070 SUPER OC 12GB GDDR6X">
                    <div class="product-info">
                        <p>VGA ASUS GEFORCE NVIDIA ProART RTX 4070 SUPER OC 12GB GDDR6X</p>
                        <p class="price">$826,80</p>
                        <p class="discount-price">S/. 3,125,30</p>
                        <p class="stock">Stock: 10</p>
                        <p class="reference">Ref: 135454576</p>
                        <button class="buy-btn"><a href="DetalleProducto.html">DETALLES</a></button>
                        <button class="buy-btn"><a href="DetalledeCarrito.html">COMPRAR</a></button>
                    </div>
                </div>

                <div class="product-box" id="product1">
                    <img src="img/rtx4070gigabyte.jpg" alt="VGA ASUS GEFORCE NVIDIA ProART RTX 4070 SUPER OC 12GB GDDR6X">
                    <div class="product-info">
                        <p>GEFORCE RTX 4070 SUPER 12GB 192-bit GIGABYTE WINDFORCE GDDR6X</br></p>
                        <p class="price">$456,80</p>
                        <p class="discount-price">S/. 2,125,30</p>
                        <p class="stock">Stock: 10</p>
                        <p class="reference">Ref: 135454576</p>
                        <button class="buy-btn"><a href="DetalleProducto.html">DETALLES</a></button>
                        <button class="buy-btn"><a href="DetalledeCarrito.html">COMPRAR</a></button>
                    </div>
                </div>

                <div class="product-box" id="product1">
                    <img src="img/VGA24GB.jpg" alt="VGA ASUS GEFORCE NVIDIA ProART RTX 4070 SUPER OC 12GB GDDR6X">
                    <div class="product-info">
                        <p>VGA ASUS GEFORCE NVIDIA ProART RTX 4070 SUPER OC 12GB GDDR6X</p>
                        <p class="price">$826,80</p>
                        <p class="discount-price">$3,125,30</p>
                        <p class="stock">Stock: 10</p>
                        <p class="reference">Ref: 135454576</p>
                        <button class="buy-btn"><a href="DetalleProducto.html">DETALLES</a></button>
                        <button class="buy-btn"><a href="DetalledeCarrito.html">COMPRAR</a></button>
                    </div>
                </div>

                <div class="product-box" id="product1">
                    <img src="img/VGA24GB.jpg" alt="VGA ASUS GEFORCE NVIDIA ProART RTX 4070 SUPER OC 12GB GDDR6X">
                    <div class="product-info">
                        <p>VGA ASUS GEFORCE NVIDIA ProART RTX 4070 SUPER OC 12GB GDDR6X</p>
                        <p class="price">$826,80</p>
                        <p class="discount-price">$3,125,30</p>
                        <p class="stock">Stock: 10</p>
                        <p class="reference">Ref: 135454576</p>
                        <button class="buy-btn"><a href="DetalleProducto.html">DETALLES</a></button>
                        <button class="buy-btn"><a href="DetalledeCarrito.html">COMPRAR</a></button>
                    </div>
                </div>

                <div class="product-box" id="product2">
                    <img src="img/VGA24GB.jpg" alt="VGA ASUS GEFORCE NVIDIA TUF GAMING RTX 4090 SUPER OC 24GB GDDR6X">
                    <div class="product-info">
                        <p>VGA ASUS GEFORCE NVIDIA TUF GAMING RTX 4090 SUPER OC 24GB GDDR6X</p>
                        <p class="price">$2,186.60</p>
                        <p class="discount-price">$8,265,35</p>
                        <p class="stock">Stock: 48</p>
                        <p class="reference">Ref: 135454566</p>
                        <button class="buy-btn"><a href="DetalleProducto.html">DETALLES</a></button>
                        <button class="buy-btn"><a href="DetalledeCarrito.html">COMPRAR</a></button>
                    </div>
                </div>
            
            </div>

        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-contact">
                <h4>WhatsApp:</h4> 
                <p>921310423 - 923545345</p>
                <p>942385824 - 985752824</p> 
                <p>912535523 - 924857834</p>
                <p>Email: ventas@importecs.com</p>
                <p>Dirección: <br> Av. San Martin N° 427-429</p>
                <p>Soporte: 930794928</p>
                <p>Dirección de Soporte:<br> Av. San Martin N° 427-429</p>
            </div>
            <div class="footer-social">
                <h4>Síguenos</h4>
                <a href="https://www.facebook.com/profile.php?id=100067636255042&locale=es_LA"><img src="img/iconofb.png" alt="Facebook"><p>Facebook</p></a>
                <a href="https://www.instagram.com/andreedc01?igsh=NXFwYnc3ZGJlMjZl"><img src="img/intagram.png" alt="Instagram"><p>Instagram</p></a>
            </div>

            <div class="footer-links">
                <h4>Información</h4>
                <a id="info" href="TyC.html">Términos y Condiciones</a>
                <a id="info" href="NuestraEmpresa.html">Nuestra Empresa</a>
                <a id="info" href="reclamaciones.html">Libro de Reclamaciones</a>
                <a id="info" href="Mediosdepago.html">Medios de Pago</a>
            </div>

            <div class="footer-policy">
                <h4>Políticas y Condiciones</h4>
                <a  id="info" href="Contacto.html">Contactanos</a>
                <a id="info" href="#">Política de Privacidad de Datos Personales</a>
                <a id="info" href="#">Política de Envío</a>
                <a id="info" href="#">Términos y Condiciones</a>
            </div>

            <div class="footer-newsletter">
                <h4>Boletín de Anuncios</h4>
                <input type="email" placeholder="Tu correo electrónico">
                <button type="submit">Suscribirse</button>
                <p>Puedes darte de baja en cualquier momento. Para ello, consulte nuestra información de contacto en el aviso legal.</p>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© 2024 IMPORTEC Solutions SAC. Todos los derechos reservados</p>
            <div class="footer-payments">
                <img src="img/visa.png" alt="Visa">
                <img src="img/mastercard.png" alt="Mastercard">
                <img src="img/americanexpress.png" alt="AmericanExpress">
                <img src="img/bcp.png" alt="BCP">
            </div>
        </div>
    </footer>
</body>
</html>
